<header class="header">
    <div class="header-content">
        <span class="title-wrapper">
            <i class="fas fa-cash-register"></i>
            <h1 class="title">
                Controle financeiro
            </h1>
        </span>
        <nav *ngIf="sideMenuVisible" class="navigator">
            <ul class="menu">
                <li class="item">
                    <a>Dashboard</a>
                </li>
                <li class="item">
                    <a>Resumo</a>
                </li>
                <li class="item">
                    <a>Configurações</a>
                </li>
            </ul>
        </nav>
    </div>
</header>